.content {
  max-width: 1100px;
  display: inherit;
}

img.cards {
  width: 150px;
  height: 225px;
  margin-left: 30px;
  margin-right: 30px;
}

.inline-cards {
  display: inline;
}

.quantity {
  position: absolute;
  margin-top: 100px;
  margin-left: -30px;
  font-size: 30px;
}

.dark-seal {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 70%;
  margin-top: -1%;
}

.stacks {
  color: white;
  position: absolute;
  margin-left: 70%;
  margin-top: 1%;
}

.stack-text {
  margin-left: 60%;
  position: absolute;
}
.panel-deckcode {
  max-width: 90%;
  overflow-wrap: break-word;
}

mat-panel-title {
  width: 10%;
}

mat-panel-description {
  width: 55%;
}

.panel-deckcode-resp {
  display: none;
}
/* Responsive Styles */
@media screen and (max-width: 700px) {
  .dark-seal {
    width: 30px;
    height: 30px;
    margin-left: 0%;
    margin-top: -5%;
  }

  .stacks {
    margin-left: 0%;
    margin-top: 2%;
  }

  .panel-deckcode {
    display: none;
  }
  mat-panel-title {
    display: none;
  }
  .panel-deckcode-resp {
    display: initial;
    overflow-wrap: break-word;
  }
}
@media (max-width: 1350px) {
  .stack-text {
    display: none;
  }
}


