/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-label {
  color: #7b1fa2;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #7b1fa2;
}


.mat-ink-bar {
  height: 8px !important;
}
