table {
  width: 100%;
  min-width: 720px;
}

td.mat-cell {
  font-size: 11px;
  padding-left: 2%;
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .table-container {
    overflow: auto;
  }
  table {
    width: 100%;
    min-width: none;
  }
}
